# Ignore Visual Studio cache
.vs/

# JUCE and build artifacts
Builds/
JuceLibraryCode/
*.obj
*.pdb
*.user
*.exe
*.dll
*.log
*.ipch

# OS junk
Thumbs.db
.DS_Store

# Visual Studio build outputs
x64/
Debug/
Release/
*.tlog
*.lastbuildstate
*.ilk
*.res
*.recipe